KAFKA_HEAP_OPTS={{kafka_heap_opts}}
KAFKA_JVM_PERFORMANCE_OPTS={{kafka_jvm_performance_opts}}
LOG_DIR="{{kafka_log_dir}}"
KAFKA_LOG4J_OPTS="-Dlog4j.configuration=file:{{kafka_conf_dir}}/log4j.properties"